.button {
  background: none;
  border: none;
  padding: 0;
  width: var(--hud-height);
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-front);
  border-radius: calc(var(--radius-big) - var(--padding));

  &.active {
    background: var(--color-active-back);
    color: var(--color-active-front);
  }

  &:disabled {
    color: var(--color-disabled);
    cursor: not-allowed;
  }

  &[data-action="record-start"]:not(:disabled) {
    color: var(--color-red);
  }
}
