.notch {
  --notch-bg: #111;
  --backdrop-x: 0%;
  --backdrop-width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-hud);
}

.content {
  padding-inline: var(--radius);
  display: grid;
  grid-template-columns: repeat(3, 60px);
  height: 100%;
}

.button {
  background: none;
  border: none;
  margin: var(--padding);
  padding: 4px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-front);
  border-radius: calc(var(--radius) - var(--padding));

  &.active {
    background: var(--color-active-back);
    color: var(--color-active-front);
  }
}
