.background {
  position: absolute;
  inset: 0px;
  display: flex;

  & > * {
    background: var(--notch-bg);
    corner-bottom-shape: square;
  }

  & > *:first-child {
    corner-top-shape: notch;
    margin-block: var(--height);
  }

  & > *:first-child {
    corner-top-shape: notch;
  }
}

.container {
  display: flex;
  flex: 1;
}

.layoutContainerRoot {
  --frame-padding: var(--padding);
  padding: var(--padding);
  gap: var(--padding);
  border-radius: var(--padding);
}

.layoutContainer {
  --frame-padding: 0px;
  gap: var(--padding);
  border-radius: var(--padding);
}

.layoutEntity {
  --frame-padding: 0px;
  border-radius: var(--padding);
}

.recordingView {
  display: flex;
  flex: 1;
  position: relative;
}

.bottomBar {
  --notch-bg: #111;
  --backdrop-x: 0%;
  --backdrop-width: 100%;
  height: auto;

  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: var(--z-hud);
}

.bottomBarContent {
  padding-inline: var(--hud-radius);
  display: grid;
  grid-template-columns: repeat(3, 60px);
  align-items: center;
  justify-content: center;
  justify-items: center;
  height: 100%;
}

.barButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-front);
}

.modeButton {
  background: none;
  border: none;
  padding: 4px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-front);
  border-radius: 6px;

  &.active {
    background: var(--color-active);
    color: var(--color-back);
  }
}

.closeButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-front);
}
