.frame {
  position: relative;
  flex: 1;
  box-sizing: border-box;
}


.notch {
  height: calc(var(--hud-height-notch) + var(--extend, 0px));
  position: absolute;
  z-index: var(--z-notch);

  &.bottom {
    left: 50%;
    bottom: 0px;
  }

  &.top {
    left: 50%;
    top: 0px;
    rotate: 180deg;
    transform-origin: center center;
  }

  &.left {
    left: 0px;
    top: 50%;
    rotate: 90deg;
    transform-origin: top;
    translate: calc((var(--hud-height-notch) + var(--extend, 0px))) 0;
  }

  &.right {
    right: 0px;
    top: 50%;
    rotate: -90deg;
    transform-origin: top;
    translate: calc(-1 * (var(--hud-height-notch) + var(--extend, 0px))) 0;
  }
}

.notch-backdrop {
  translate: var(--backdrop-x, -50%);
  display: flex;
  position: absolute;
  flex-direction: column;
  z-index: var(--z-notch-backdrop);
  width: var(--backdrop-width, 100px);
  height: 100%;

  & > .root,
  & > .edge,
  & > .center {
    background: var(--color-back);
  }

  & > .center,
  & > .edge {
    margin-inline: /* var(--center-margin,  */ var(--hud-radius) /* ) */;
  }

  & > .root,
  & > .edge {
    border-radius: var(--hud-radius);
    content: "";
    flex: 0 var(--hud-radius);
    overflow: hidden;
  }

  & > .root {
    corner-top-shape: scoop;
    corner-bottom-shape: square;
  }

  & > .center {
    flex: 1;
  }

  & > .edge {
    corner-bottom-shape: square;
  }
}

.arrow {
  position: absolute;
  translate: -50% 0;
  top: calc(var(--hud-radius) / 2);
  transform-origin: center bottom;
  z-index: var(--z-notch-handle);
  pointer-events: none;
}

.edge-button {
  position: absolute;
  width: calc(var(--hud-radius) * 3);
  height: calc(var(--hud-radius) * 3);
  border-radius: 50%;
  background: var(--color-back, black);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: var(--z-notch-handle);
  padding: 0;

  &.left {
    left: 0;
    top: 50%;
    translate: -50% -50%;
  }
  &.right {
    right: 0;
    top: 50%;
    translate: 50% -50%;
  }
  &.top {
    top: 0;
    left: 50%;
    translate: -50% -50%;
  }
  &.bottom {
    bottom: 0;
    left: 50%;
    translate: -50% 50%;
  }
}
