@font-face {
  font-family: "Gas";
  src: url("./assets/fonts/gas.ttf") format("truetype");
  font-display: swap;
  ascent-override: 100%;
}

html,
body {
  font-family: "Gas", system-ui, sans-serif;
}

#root {
  --color-back: #1b1b1b;
  --color-front: rgb(216, 216, 216);

  --color-active-front: rgb(0, 0, 0);
  --color-active-back: rgb(216, 216, 216);

  --color-scroll-thumb: rgba(216, 216, 216, 0.3);
  --color-disabled: rgb(110, 110, 110);
  --color-red: #e94949;

  --radius-big: 25px;
  --radius-small: 12px;
  --padding: 2px;

  --hud-height: 50px;
  --hud-button-margin: 4px;

  --z-selection-overlay: 100;
  --z-hud: 10;
  --z-notch: 1;
  --z-notch-handle: 2;
  --z-notch-backdrop: -1;

  background: var(--color-back);
}
