#root {
  --color-back: #1b1b1b;
  --color-front: rgb(180 180 180);
  --color-active: white;
  --color-selection: white;

  --hud-radius: 20px;
  --hud-height-notch: 60px;

  --z-selection-overlay: 100;
  --z-hud: 10;
  --z-notch: 1;
  --z-notch-handle: 2;
  --z-notch-backdrop: -1;

  --padding: 8px;

  background: var(--color-back);
}
