@font-face {
  font-family: "Gas";
  src: url("./assets/fonts/gas.ttf") format("truetype");
  font-display: swap;
  ascent-override: 100%;
}

html {
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Gas", system-ui, sans-serif;
}

#root {
  --color-back: #1b1b1b;
  --color-front: rgb(216, 216, 216);

  --color-active-front: rgb(0, 0, 0);
  --color-active-back: rgb(216, 216, 216);

  --color-scroll-thumb: rgba(216, 216, 216, 0.3);
  --color-disabled: rgb(110, 110, 110);
  --color-red: #e94949;

  --radius-big: 1.5625rem;
  --radius-small: 0.75rem;
  --padding: 0.3125rem;

  --hud-height: 3.75rem;
  --hud-button-margin: 0.25rem;

  --z-selection-overlay: 100;
  --z-hud: 10;
  --z-notch: 1;
  --z-notch-handle: 2;
  --z-notch-backdrop: -1;

  background: var(--color-back);
  -webkit-tap-highlight-color: transparent;
}
